Requirements
==============

Before running the wizard, the following items are required: 
	- `Python 2.7 <https://www.python.org/downloads/release/python-2712/>`_
	- `Numpy 1.6.1 <https://pypi.python.org/pypi/numpy/1.6.1>`_
	- `Scipy 0.18.1 <https://pypi.python.org/pypi/scipy/0.18.1>`_
	- `OpenCV 3.1.0.1 libraries for python 2.7 <https://pypi.python.org/pypi/opencv-python/3.1.0.1#downloads>`_
	- `Voxel Library 0.6.5 or newer <https://github.com/3dtof/voxelsdk/releases>`_

.. note: Make sure that all the libraries are added to the PYTHONPATH environment variable. Add the following to the PYTHONPATH:
		 <python_source>/lib/site-packages;<path_to_voxel_sdk_folder/build/lib/python2.7

Once you have downloaded and installed all the above libraries, download the wizard using `link`_ and start using the software. 
To run the wizard, use the CalibrationWizard.py file. 
